#game {
    display: block;
    margin: auto;
}
#score {
    text-align: center;
    font-size: 100px;
    font-family: Papyrus;
}

header{
    text-align: center;
    font-size: 40px;
    font-family: Papyrus;
}